<div class="container" *ngIf="!isLoading; else loading">
  <div class="movie-list">
    <div *ngFor="let movie of movieService.movies" class="movie-card">
      <div class="movie-image">
        <img
          [src]="movieService.getPosterUrl(movie.posterPath)"
          alt="Poster do filme"
        />
      </div>
      <div class="movie-info">
        <div class="movie-info-header">
          <h3 class="movie-title">{{ movie.title }}</h3>
          <button class="favorite-button" (click)="toggleFavorite(movie)">
            {{ movie.favorite ? "Desfavoritar" : "Favoritar" }}
            <img
              [src]="movieService.getFavoriteIconUrl(movie.favorite)"
              alt="Favoritar/Desfavoritar"
              width="30px"
            />
          </button>
        </div>
        <p class="movie-year">Ano: {{ movie.releaseDate | date : "yyyy" }}</p>
        <p class="movie-overview">{{ movie.overview }}</p>
        <p class="movie-rating">
          Nota:
          <span [ngClass]="movieService.getRatingClass(movie.voteAverage)">
            {{ movie.voteAverage | number : "1.0-0" }}
            <i
              class="pi pi-star-fill"
              [style.color]="movieService.getRatingColor(movie.voteAverage)"
            ></i>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container">
    <span class="loader"></span>
  </div>
</ng-template>
