<div class="container" *ngIf="!isLoading; else loading">
  <div class="title__container">
    <a [routerLink]="''" class="header-router"
      ><i class="pi pi-angle-left arrow-back"></i>Voltar</a
    >
    <h1>Minha lista!</h1>
    <button class="btn btn-primary" (click)="shareLink()">
      Compartilhar <i class="pi pi-share-alt share-alt"></i>
    </button>
  </div>

  <ng-container *ngIf="favoriteMovies.length; else noFavorites">
    <div *ngIf="favoriteMovies.length > 0" class="favorite-movie-list">
      <div *ngFor="let movie of favoriteMovies" class="movie-card">
        <div class="movie-image">
          <img
            [src]="movieService.getPosterUrl(movie.posterPath)"
            alt="Poster do filme"
          />
        </div>
        <div class="movie-info">
          <div class="movie-info-header">
            <h3 class="movie-title">{{ movie.title }}</h3>
            <button class="favorite-button" (click)="removeFavorite(movie)">
              Desfavoritar
              <img
                [src]="movieService.getFavoriteIconUrl(movie.favorite)"
                alt="Desfavoritar"
                width="30px"
              />
            </button>
          </div>
          <p class="movie-year">Ano: {{ movie.releaseDate | date : "yyyy" }}</p>
          <p class="movie-overview">{{ movie.overview }}</p>
          <p class="movie-rating">
            Nota:
            <span [ngClass]="movieService.getRatingClass(movie.voteAverage)">
              {{ movie.voteAverage | number : "1.0-0" }}
              <i
                class="pi pi-star-fill"
                [style.color]="movieService.getRatingColor(movie.voteAverage)"
              ></i>
            </span>
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="container">
    <span class="loader"></span>
  </div>
</ng-template>

<ng-template #noFavorites>
  <div class="empty-message">Sua lista de favoritos está vazia!</div>
</ng-template>
