.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-message {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: white;
  border-radius: 30px;
}

.title__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.title__container h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.title__container button {
  border-radius: 30px;
  padding: 10px;
  width: 150px;
  border: none;
  background-color: #2d2959;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
}

.title__container button:hover {
  opacity: 0.6;
  transform: translateY(-2px);
}

.header-router {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.arrow-back {
  font-size: 2rem;
  color: white;
}

.share-alt {
  font-size: 20px;
  margin-left: 10px;
}
