.title__container {
  text-align: center;
  margin-bottom: 20px;
}

.title__container h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.title__container p {
  font-size: 1.2rem;
  color: white;
  opacity: 0.8;
  margin: 10px 0;
}

.empty-message {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: white;
  border-radius: 30px;
}
